# <center>Exercise 01

## Question1: 
For each of the following variables, first show the type of the variable, then change it to the requested type and show the type again.

### Show the type of variables (first column)

In [1]:
num1 = 12.6
num2 = '050'
num3 = '20.'
student_num= 's98234'
flag = True

print(f'Type of num1 is {type(num1)}\nType of num2 is {type(num2)}\
\nType of num3 is {type(num3)}\
\nType of student_num is {type(student_num)}\
\nType of flag is {type(flag)}')

Type of num1 is <class 'float'>
Type of num2 is <class 'str'>
Type of num3 is <class 'str'>
Type of student_num is <class 'str'>
Type of flag is <class 'bool'>

### Change type of variables to int and float

In [2]:
print(f'num1 \ninteger: {int(num1)}, float: {float(num1)}')

num1
integer: 12, float: 12.6

In [3]:
print(f'num2 \ninteger: {int(num2)}, float: {float(num2)}')

num2
integer: 50, float: 50.0

In [4]:
# dot is a character 
print(f'num3 \ninteger: {int(num3)}')

ValueError: invalid literal for int() with base 10: '20.'

In [5]:
print(f'num3 \nfloat: {float(num3)}')

num3
float: 20.0

In [6]:
# s is a character 
print(f'student_num \ninteger: {int(student_num)}')

ValueError: invalid literal for int() with base 10: 's98234'

In [7]:
# s is a character 
print(f'student_num \nfloat: {float(student_num)}')

ValueError: could not convert string to float: 's98234'

In [8]:
print(f'flag \ninteger: {int(flag)}, float: {float(flag)}')

flag
integer: 1, float: 1.0

### Show the type of variables (second column)

In [35]:
num1 = -20
num2 = 00
flag = 'False'

print(f'Type of num1 is {type(num1)}\nType of num2 is {type(num2)}\
\nType of flag is {type(flag)}')

Type of num1 is <class 'int'>
Type of num2 is <class 'int'>
Type of flag is <class 'str'>

### Change to boolean

In [10]:
print(f'num1 --> {bool(num1)}')

num1 --> True

In [11]:
print(f'num2 --> {bool(num2)}')

num2 --> False

In [12]:
print(f'flag --> {bool(flag)}')

flag --> True

## Question2:
Display average of the following three variables in the output.

In [13]:
num1 = 20
num2 = 19.
num3 = '18.5'

# step1 --> change type of num3
num3 = float(num3)

# step2 --> summation of given variables

sum_varibales = num1+num2+num3

# step3 --> Calculate the average

average = sum_varibales/3
print('The average is ', average)

The average is  19.166666666666668

## Question3:
Define two variables with integer values, 
then display True if the first variable is greater than the second and display False if it is smaller.

In [14]:
a = 25
b = 78
print(a > b)

False

## Question4:
By getting the length and width of a rectangle, calculate and display its perimeter and area.

In [15]:
width = float(input('please insert the arbitrary width of rectangle --> '))
length = float(input('please insert the arbitrary length of rectangle --> '))

please insert the arbitrary width of rectangle --> 15.3
please insert the arbitrary length of rectangle --> 2.7

In [16]:
print(f'The perimeter is {2*(width + length)}\nThe area is {width * length} ')

The perimeter is 36.0
The area is 41.31

## Question5:
In the figure below, calculate the area of the colored part by getting the radius of the circle.
<img src="area.jpg" width="300" height="300">

In [17]:
radius = float(input('please insert the arbitrary raduis of circle --> '))

please insert the arbitrary raduis of circle --> 2.6

In [18]:
# step1 --> calculate the side of square
side = radius*2

# step2 --> calculate the areas (square and circle)
area_sq = side**2
area_circle = 3.14*(radius**2)

# Step3 --> calculate colored area
colored_area = area_sq - area_circle
print('The colored area is ', colored_area)

The colored area is  5.813600000000001

## Question6:
In the following three lines, display the value of num1, num2, num3.

In [19]:
# First line
num1 = num2 = num3 = 200

In [20]:
num1

200

In [21]:
num2

200

In [22]:
num3

200

In [23]:
# Second line
num1 , num2 , num3 = 10, 20, 145

In [24]:
num1

10

In [25]:
num2

20

In [26]:
num3

145

In [27]:
# Third line
num1 , num2 , num3 = 30, 100

ValueError: not enough values to unpack (expected 3, got 2)

### We have two approachs to solve this problem
- 1- Remove num3
- 2- Add one number to assign num3

In [28]:
# First approach
num1 , num2 = 30, 100

In [29]:
num1

30

In [30]:
num2

100

In [31]:
# Second approach
num1 , num2 , num3 = 30, 100, 260

In [32]:
num1

30

In [33]:
num2

100

In [34]:
num3

260