<div>
<h2 style="background-color:Purple;text-align:center;border-radius:40px;border: 1px;padding: 20px;"><b>Filoger Hands On Prerequisite Python For AI <br>Exercises 09 & 10 | Deadline: 2023 17 May <br> Score: 700</h2>
</div>

# Name

In [1]:
# Saeedeh, Kamjoo

<h3 style="background-color:#ff3300
;text-align:center;border-radius:40px;border: 1px;padding: 10px;"><b>Exercises 09<br>Score: 550</h3>

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>1- Based on some examples (code), show the difference between list and tuple. (50)</h5>

### Python Lists vs Python Tuples

1- List are mutable ---- Tuples are immutable

2- Iterations are time-consuming ---- Iterations are comparatively Faster

3- Inserting and deleting items is easier with a list. ---- Accessing the elements is best accomplished with a tuple data type.

4- Lists consume more memory ---- Tuple consumes less than the list

5- Lists have several built-in methods. ---- A tuple does not have many built-in methods because of immutability

6- A unexpected change or error is more likely to occur in a list. ---- In a tuple, changes and errors don't usually occur because of immutability.

#### 1- There is no way to keep changing tuples. Error message if you attempt to change one of the items:

In [2]:
names_tpl = ("Raj","John","Jabby","Raja")
names_lst = ["Raj","John","Jabby","Raja"]

In [3]:
names_lst[0]= 'Samka'
names_lst

['Samka', 'John', 'Jabby', 'Raja']

In [4]:
# # TypeError: 'tuple' object does not support item assignmen
# names_tpl[0]='Samka'
# names_tpl

#### 2- Memory usage

In [5]:
import sys
print(f'The size of list in memory: {sys.getsizeof(names_lst)}\
\nThe size of tuple in memory: {sys.getsizeof(names_tpl)}')

The size of list in memory: 120
The size of tuple in memory: 72

#### 3- Run time

In [6]:
import time 

starts = time.time()
for i in names_lst:
    print(i)
    
ends = time.time()
results = (ends-starts)*100000
print(f'Run time of list: {time.strftime("%H:%M:%S", time.gmtime(results))}')

Samka
John
Jabby
Raja
Run time of list: 00:00:00

In [7]:
start = time.time()
for i in names_tpl:
    print(i)
    
end = time.time()
result = (end-start)*100000
print(f'Run time of list: {time.strftime("%H:%M:%S", time.gmtime(result))}')

Raj
John
Jabby
Raja
Run time of list: 00:00:00

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>
   2- Answer the questions according to the list below. (100)</h5>

 
1. Create an empty tuple.
2. Create a tuple with one item.
3. Create a tuple with more than one item.
4. Concatenate two tuples of Part2 and Part3.
5. Check 1 is in tuple of Part4 or no.

### Q2.1:

In [8]:
tpl_1 = ()
print(f' Type of object: {type(tpl_1)}')

 Type of object: <class 'tuple'>

### Q2.2:

In [9]:
tpl_2 = (8,)
print(f"Given object: {tpl_2} === Type: {type(tpl_2)}")

Given object: (8,) === Type: <class 'tuple'>

### Q2.3:

In [10]:
tpl_3 = (5,1,9,-3)
print(f"Given object: {tpl_3} === Type: {type(tpl_3)}")

Given object: (5, 1, 9, -3) === Type: <class 'tuple'>

### Q2.4:

In [11]:
tpl_4 = tpl_2 + tpl_3
print(f"Given object: {tpl_4} === Type: {type(tpl_4)}")

Given object: (8, 5, 1, 9, -3) === Type: <class 'tuple'>

### Q2.5:

In [12]:
print(1 in tpl_4)

True

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>3- Answer the questions according to the list below. (100) </h5>

1. Add 100 at the end of tuple.
2. Add 50 in the index of 3.
3. Remove 30 from tuple.
4. Edit 10 with 110.
5. Sort the tuple.

In [13]:
numbers = (10, 20, 30, 5, 40, 20, 4, 2, 1,8, 80)

### Q3.1:

In [14]:
# Because Tuples are immutable, we have to convert them to the list format.
numbers = list(numbers) 
numbers.append(100)
numbers = tuple(numbers)
print(f'Final result: {numbers}')

Final result: (10, 20, 30, 5, 40, 20, 4, 2, 1, 8, 80, 100)

### Q3.2:

In [15]:
numbers = list(numbers)
numbers.insert(3,50)
numbers = tuple(numbers)
print(f'Final result: {numbers}')

Final result: (10, 20, 30, 50, 5, 40, 20, 4, 2, 1, 8, 80, 100)

### Q3.3:

In [16]:
numbers = list(numbers)
numbers.remove(30)
numbers = tuple(numbers)
print(f'Final result: {numbers}')

Final result: (10, 20, 50, 5, 40, 20, 4, 2, 1, 8, 80, 100)

### Q3.4:

In [17]:
numbers = list(numbers)
numbers[0] = 110
numbers = tuple(numbers)
print(f'Final result: {numbers}')

Final result: (110, 20, 50, 5, 40, 20, 4, 2, 1, 8, 80, 100)

### Q3.5:

In [18]:
numbers = list(numbers)
numbers.sort()
numbers = tuple(numbers)
print(f'Final result: {numbers}')

Final result: (1, 2, 4, 5, 8, 20, 20, 40, 50, 80, 100, 110)

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>4- Write a python program that takes a list of tuple and display other list that only have first and last items of each tuple. (100) </h5> <img src="q9.4.png" width="300" height="400">

1- The given list:

In [19]:
lst_gvn = [(1, 2, 3), (3, 5, 6), (4, 10, 12)]

In [20]:
lst_out = []
for i in range(len(lst_gvn)):
    tpl_gvn = (lst_gvn[i][0], lst_gvn[i][-1])
    lst_out.append(tpl_gvn)
print(lst_out)

[(1, 3), (3, 6), (4, 12)]

2- User input list:

In [21]:
num = int(input('How many do you want to insert tuples: '))

lst_in = []
for i in range(num):
    tpl1 = input('Enter your number:(with comma) ')
    tpl1 = tuple(map(int, tpl1.split(',')))
    lst_in.append(tpl1)

print(f"The input list: {lst_in}")

How many do you want to insert tuples: 3
Enter your number:(with comma) 12,13,14
Enter your number:(with comma) 11,1,2,3,4,56
Enter your number:(with comma) 9,8,7,3
The input list: [(12, 13, 14), (11, 1, 2, 3, 4, 56), (9, 8, 7, 3)]

In [22]:
lst_out2 = []
for i in range(len(lst_in)):
    tpl_in = (lst_in[i][0], lst_in[i][-1])
    lst_out2.append(tpl_in)
print(lst_out2)

[(12, 14), (11, 56), (9, 3)]

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>5-Generate 10 different random numbers between 100 and 200 (100).

In [23]:
import random

set_rand = set()
while len(set_rand) < 10:
    items = random.randint(100,200)
    set_rand.add(items)
print(set_rand)

{161, 194, 133, 106, 108, 173, 147, 155, 188, 126}

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>6- Create two lists, then create a third list that contains values that are in the first list but not in the second list (50).

In [24]:
lst_1 = [1,5,3,7,8,1,2,2,3]
lst_2 = [1,1,1, 9, 5, 8 ,8, 5]
set_1 = set(lst_1)
set_2 = set(lst_2)
lst_3 = list(set_1 - set_2) # or lst_3 = list(x.difference(y))
print(f'set 1: {set_1}\nset 2: {set_2}\nResult: {lst_3}')

set 1: {1, 2, 3, 5, 7, 8}
set 2: {8, 1, 5, 9}
Result: [2, 3, 7]

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>7-Find two new methods for Tuple and Set (50).

### Tuple methods

In [25]:
"""
count(): Returns the number of times a specified value occurs in a tuple
index(): Searches the tuple for a specified value and returns the position
         of where it was found
"""

tpl = (3,5,6,1,9,10,3,3,3)
print(f'Number of times a specified value: {tpl.count(3)}')
print(20*'-')
print(f'Index of specified value: {tpl.index(10)}')

Number of times a specified value: 4
--------------------
Index of specified value: 5

### Set methods:

In [26]:
"""
Return a set that contains all items from both sets, 
except items that are present in both sets:
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple", "eby"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'cherry', 'microsoft', 'eby'}

In [27]:
"""
The union() method returns a set that contains all items from
the original set, and all items from the specified set(s).
You can specify as many sets you want, separated by commas.
It does not have to be a set, it can be any iterable object.
If an item is present in more than one set, the result will contain
only one appearance of this item.
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'google', 'microsoft', 'banana', 'cherry'}

<h3 style="background-color:#ff3300
;text-align:center;border-radius:40px;border: 1px;padding: 10px;"><b>Exercises 10<br>Score: 150</h3>

<h5 style="background-color:#1765e3;text-align:left;border-radius:40px;border: 1px;padding: 10px;"><b>Write a recursive function for the binary search algorithm.
</h5>

In [28]:
# Without recursion

def binary_search(list1, x):
    low = 0
    high = len(list1) - 1
    mid = 0
    while low <= high:
        mid = (low + high) // 2
        if list1[mid] < x:
            low = mid + 1
        elif list1[mid] > x:
            high = mid -1
        else:
            return mid
    return -1

In [29]:
# Recursive function

def recursive_binary(lst, num):
    if len(lst) == 0:
        return -1
    if num in lst:
        mid = len(lst) // 2
        if lst[mid] == num:
            return mid
        elif lst[mid] > num:
            return recursive_binary(lst[:mid] , num)
        elif lst[mid] < num:
            return recursive_binary(lst[mid+1:] , num) + mid + 1
    else:
        return -1

In [30]:
lst = [3, 4, 5, 6, 7, 8, 9, 10, 120, 145, 250]
print(f'The number exists in the list: {recursive_binary(lst,5)}')
print(40*'-')
print(f'The number DOES NOT exist in the list: {recursive_binary(lst,50)}')

The number exists in the list: 2
----------------------------------------
The number DOES NOT exist in the list: -1